<!doctype html>
<html lang="en">
  <head>
    <!-- demo code, only for a extreme necessity. please dont consider this code as real-code of any developer involved in this scrap. -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Loader Animation -->
    <link rel="stylesheet" href="../static/main.css">

    <title>Scrap Projudi</title>


  </head>
  <body>
        <div class="loading d-none" id="load">Loading&#8230;</div>
    <div class="container">
      <div class="row mt-5 pt-5">
        <div class="col text-center">
          <h1>Scrap Projudi</h1>
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-12 col-md-6 mx-auto text-center" style="margin-top: 170px">
          <form action="" method="POST">
            <input type="text" class="form-control" placeholder="Usuário" id="user" name="user">
            <input type="password" class="form-control mt-3" placeholder="Senha" id="pwd" name="pwd">
            <input type="text" class="form-control mt-3" placeholder="Token" id="token" name="token">
            <button class="btn btn-primary mt-5" type="button">Enviar</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/scripts.js"></script>
  </body>
</html>